<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/modules/bootstrap/css/bootstrap.css}" />
<script type="text/javascript"
	th:src="@{/modules/jquery/jquery-3.3.1.js}"></script>
<script type="text/javascript"
	th:src="@{/modules/bootstrap/js/bootstrap.js}"></script>
<title>Coffee shop</title>
</head>
<body>
	<div th:replace="fragments/menu :: menu"></div>
	<div class="container">
		<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading"> <h3 class="panel-title">User</h3> </div>
			<div class="panel-body">
				<form th:object="${user}" th:action="@{/me/account/update}" method="post">
				  <div class="form-group row">
				    <label for="firstName" class="col-sm-2 col-form-label">Name</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="firstName" placeholder="Name" th:field="*{name}" required="true"/>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="email" class="col-sm-2 col-form-label">Email</label>
				    <div class="col-sm-10">
				      <input type="email" readonly="readonly" class="form-control" id="email" placeholder="Email" th:field="*{email}" required="required"/>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="phone" class="col-sm-2 col-form-label">Phone</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="phone" placeholder="Phone" th:field="*{phone}" />
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="country" class="col-sm-2 col-form-label">Country</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="country" placeholder="Country" th:field="*{address.country}" />
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="city" class="col-sm-2 col-form-label">City</label>
				    <div class="col-sm-2">
				      <input type="text" class="form-control" id="city" placeholder="City" th:field="*{address.city}" />
				    </div>
				    <label for="state" class="col-sm-2 col-form-label">State</label>
				    <div class="col-sm-2">
				      <input type="text" class="form-control" id="state" placeholder="State" th:field="*{address.state}" />
				    </div>
				    <label for="zipcode" class="col-sm-2 col-form-label">Zip Code</label>
				    <div class="col-sm-2">
				      <input type="text" class="form-control" id="zipcode" placeholder="Zip Code" th:field="*{address.zipcode}" />
				    </div>
				  </div>
				   <div class="form-group row">
				    <label for="pw" class="col-sm-2 col-form-label">Password</label>
				    <div class="col-sm-10">
				      <input type="password" class="form-control" id="pw" placeholder="Password" th:field="*{password}"/>
				    </div>
				  </div>
				  <input type="hidden" th:field="*{enabled}" value="true" />
				  <input type="hidden" th:field="*{skills}" value="true" />
				  <input type="hidden" th:field="*{id}" />
				  <input type="hidden" th:field="*{role}" value="2"/>
				  <input type="submit" class="btn btn-primary" value="Update" />
				</form>
			</div>
		</div>
		</div>
		<div class="row">
			<div class="panel panel-default" th:if="${skills != null}">
				<div class="panel-heading"> <h3 class="panel-title">Skills</h3> </div>
				<div class="panel-body">
				  	<form th:object="${skill}" th:action="@{/project/skill/add}" method="post">
				  		<div class="form-group row">
						    <label for="firstName" class="col-sm-2 col-form-label">Skill</label>
						    <div class="col-sm-4">
						      <select th:field="*{id}">
						      	<option th:each="skill: ${allSkills}" th:value="${skill.id}" th:text="${skill.name}"></option>
						      </select>
						    </div>
						    <div class="col-sm-4">
						    	<button type="submit" class="btn btn-default" aria-label="Left Align">
								  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
								</button>
						    </div>
					  	</div>
				  	</form>
					  <table class="table table-hover">
						  <thead>
						    <tr>
						      <th scope="col">Name</th>
						      <th></th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr th:each="skill : ${skills}">
						      <td class="col-md-11" scope="row" th:text="${skill.name}">
						      </td>
						      <td class="col-md-1">
						      	<form method="post" th:action="@{'/project/skill/remove/'+${skill.id}}">
						      		<input type="submit" class="btn btn-danger" value="Remove"/>
						      	</form>
						      </td>
						    </tr>
						  </tbody>
						</table>
					<!-- </div> -->
				</div>
				<div class="panel-footer">
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>