<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/modules/bootstrap/css/bootstrap.css}" />
<script type="text/javascript" th:src="@{/modules/jquery/jquery-3.3.1.js}"></script>
<script type="text/javascript" th:src="@{/modules/bootstrap/js/bootstrap.js}"></script>
<title>Skill</title>
</head>
<body>
	<div th:replace="fragments/menu :: menu"></div>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading"> <h3 class="panel-title">Skill</h3> </div>
			<div class="panel-body">
				<form th:object="${skill}" th:action="@{/admin/skill/create}" method="post">
				  <div  th:if="${errorMsgSkill != null}" class="alert alert-warning alert-dismissible" role="alert">
					  <span th:text="${errorMsgSkill}"></span>
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div th:if="${#fields.hasErrors('name')}" class="alert alert-warning alert-dismissible" th:errors="*{name}"> </div>
				  <div class="form-group row">
				    <label for="skillName" class="col-sm-2 col-form-label">Name</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="skillName" placeholder="Name" th:field="*{name}" />				      
				    </div>
				  </div>
				  <input type="hidden" th:field="*{id}" />
				  <input type="submit" class="btn btn-primary" value="Create" th:if="*{id} == 0"/>
				  <input type="submit" class="btn btn-primary" value="Update" th:if="*{id} != 0"/>
				 </form>
			 </div>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>