<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/modules/bootstrap/css/bootstrap.css}" />
<script type="text/javascript"
	th:src="@{/modules/jquery/jquery-3.3.1.js}"></script>
<script type="text/javascript"
	th:src="@{/modules/bootstrap/js/bootstrap.js}"></script>
<title>Volunteer Website</title>
</head>
<body>
	<div th:replace="fragments/menu :: menu"></div>
	<div class="container">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading"> <h3 class="panel-title">Search</h3> </div>
				<div class="panel-body">
					<form th:object="${search}" th:action="@{/search}" method="post">
					  <div class="form-group row">
					    <label for="name" class="col-sm-2 col-form-label">Name</label>
					    <div class="col-sm-4">
					      <input type="text" class="form-control" id="nameShow" placeholder="Name" th:field="*{name}"/>
					    </div>
					    <label for="name" class="col-sm-2 col-form-label">Status</label>
					    <div class="col-sm-4">
					      <select th:field="*{status}" class="form-control" >
								<option th:each="status : ${projectStatuses}"
											 th:value="${status}" 
											 th:text="${status}">
								</option>
								<option th:text="${'ALL'}" th:value="${'ALL'}"></option>
							 </select>
					    </div>
					  </div>
					  <div class="form-group row">
					    <label for="name" class="col-sm-2 col-form-label">Skill</label>
					    <div class="col-sm-4">
					      <select th:field="*{skills}" multiple="multiple" class="form-control" >
						      	<option th:each="skill: ${allSkills}" th:value="${skill.id}" th:text="${skill.name}"></option>
						      </select>
					    </div>
					    <label for="name" class="col-sm-2 col-form-label">Location</label>
					    <div class="col-sm-4">
					      <input type="text" class="form-control" id="location" placeholder="Location" th:field="*{location}"/>
					    </div>
					  </div>
					  <input type="submit" class="btn btn-primary" value="Search"/>
				 	</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading"> <h3 class="panel-title">Projects</h3> </div>
				<div class="panel-body">
				  <table class="table table-hover">
					  <thead>
					    <tr>
					      <th scope="col">Name</th>
					      <th scope="col">Status</th>
					      <th scope="col">Start Date</th>
					      <th scope="col">End Date</th>
					      <th scope="col">Location</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="proj : ${projects}">
					     <td class="col-md-2" scope="row">
					      	<a th:href="@{/project/details/+${project.id}}" th:text="${proj.name}">
					      	</a>
					      </td>
					      <td class="col-md-2" th:text="${proj.status}"></td>
					      <td class="col-md-2" th:text="${proj.startDate}"></td>
					      <td class="col-md-2" th:text="${proj.endDate}"></td>
					      <td class="col-md-2" th:text="${proj.location}"></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>