<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/modules/bootstrap/css/bootstrap.css}" />
<script type="text/javascript"
	th:src="@{/modules/jquery/jquery-3.3.1.js}"></script>
<script type="text/javascript"
	th:src="@{/modules/bootstrap/js/bootstrap.js}"></script>
<title>TV Shows</title>
</head>
<body>
	<div th:replace="fragments/menu :: menu"></div>
	<div class="container">
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>