<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/modules/bootstrap/css/bootstrap.css}" />
<script type="text/javascript" th:src="@{/modules/jquery/jquery-3.3.1.js}"></script>
<script type="text/javascript" th:src="@{/modules/bootstrap/js/bootstrap.js}"></script>
<title>Project Details</title>
</head>
<body>
	<div th:replace="fragments/menu :: menu"></div>
	<div class="container">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading"> <h3 class="panel-title" th:text="${project.name}"></h3>
				 <h3 class="panel-title" th:text="${project.id}" hidden="true"></h3> </div>
				<div class="panel-body">
                    <div class="row">
                  		<label for="status" class="col-sm-2 col-form-label">Status: </label>
                  		<p class="col-sm-10 col-form-label" th:text="${project.status}"></p>
                  	</div>
                  	<div class="row">
                  		<label for="startDate" class="col-sm-2 col-form-label">Start Date: </label>
                  		<p class="col-sm-10 col-form-label" th:text="${project.startDate}"></p>
                  	</div>
                  	<div class="row">
                  		<label for="endDate" class="col-sm-2 col-form-label">End Date: </label>
                  		<p class="col-sm-10 col-form-label" th:text="${project.endDate}"></p>
                  	</div>
                  	<div class="row">
                  		<label for="location" class="col-sm-2 col-form-label">Location: </label>
                  		<p class="col-sm-10 col-form-label" th:text="${project.location}"></p>
                  	</div>
                  	<div class="row">
                  		<label for="description" class="col-sm-2 col-form-label">Description: </label>
                  		<p class="col-sm-10 col-form-label" th:text="${project.description}"></p>
                  	</div>
                   				
				 </div>
				 <div class="panel-footer">
					<form th:action="@{/me/project/join(projectId=${project.id})}" method="post" th:if="${!isJoined}">
						<button type="submit" class="btn btn-default" aria-label="Left Align">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Join
						</button>
					</form>
					<form th:action="@{/me/project/unjoin(projectId=${project.id})}" method="post" th:if="${isJoined}">
						<button type="submit" class="btn btn-default" aria-label="Left Align">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Unjoin
						</button>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default" th:if="${skills != null}">
				<div class="panel-heading"> <h3 class="panel-title">Skills</h3> </div>
				<div class="panel-body">
					  <table class="table table-hover">
						  <thead>
						    <tr>
						      <th scope="col">Name</th>
						      <th scope="col">Num. Of Resource</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr th:each="skill : ${skills}">
						      <td class="col-md-5" scope="row" th:text="${skill.name}">
						      </td>
						       <td class="col-md-5" scope="row" th:text="${skill.numRes}">
						      </td>
						    </tr>
						  </tbody>
						</table>
				</div>
				<div class="panel-footer">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading"> <h3 class="panel-title">Comments</h3> </div>
				<div class="panel-body">
				  	<form th:object="${comment}" th:action="@{/project/comment/add(projectId=${project.id})}" method="post">
				  		<div class="form-group row">
						     <div class="col-sm-10">
						     <textarea rows="5" class="form-control" placeholder="Write a comment" th:field="*{commentText}">
					    	  </textarea>
						     </div>
						    <div class="col-sm-2">
						    	<button type="submit" class="btn btn-default" aria-label="Left Align">
								  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
								</button>
						    </div>
					  	</div>
				  	</form>
					  <table class="table table-hover">
						  <thead>
						    <tr> 
						      <th scope="col">Comment</th>
						      <th>Volunteer</th>
						      <th>Date</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr th:each="cmt : ${comments}">
						      <td class="col-md-5" scope="row" th:text="${cmt.commentText}"/>
						      <td class="col-md-5" scope="row" th:text="${cmt.user.name}"/>
						      <td class="col-md-5" scope="row" th:text="${cmt.date}"/>
						      <td class="col-md-1">
						      	<form method="post" th:action="@{'/project/comment/remove/'+${cmt.id}(projectId=${project.id})}">
						      		<input type="submit" class="btn btn-danger" value="Remove"/>
						      	</form>
						      </td>
						    </tr>
						  </tbody>
						</table>
				</div>
				<div class="panel-footer">
				</div>
			</div>
		</div>
			<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>